.header-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  background-color: white;
  flex-wrap: wrap;
  top: 0;
  position: sticky;
}
.logo {
  height: 68px;
  width: 100px;

  padding-left: 20px;
  background-image: url("https://www.wedler.com/wp-content/uploads/2014/11/logo.png");
  background-size: cover;
}
.navigation {
  width: 40%;

  align-items: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px 20px;
}
h:hover {
  color: red;
}
p {
  -webkit-animation: text-shadow-pop-top 0.6s infinite both;
  animation: text-shadow-pop-top 0.6s infinite both;
}
