#ball {
  display: flex;
  align-self: start;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(35deg, #3dd81e, #eef10c, red);
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 159px;
    width: 130px;
    height: 100px;
  }
  100% {
    top: 0px;
  }
}
