.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.item-1 {
  height: 75vh;
  font-variant-caps: small-caps;
  width: 50%;
}
.item-3 {
  height: 75vh;

  width: 50%;
  text-align: center;
  align-content: center;

  font-family: fantasy;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1515630618862-99c2ee42efcf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8d2VsZGVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}
.item-4 {
  height: 75vh;
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1530191601183-4de2969575ad?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8d2VsZGVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.item-2 {
  height: 75vh;
  font-variant-caps: small-caps;
  width: 50%;
}
p {
  text-align: center;
  align-items: center;
  align-self: center;
}
